body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-bk{
background-image: url(./Componentes/Productos/imagenes/04_Bg.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.navegacion{
  text-decoration: none;
  color: white;
  margin: 2rem;
  size: 70px;
}

.material-symbols-outlined{
  color: white;
  size: 40px;
}
